*.edit.po
*.edit.po~
*.pot
*.time_stamp
/docs/.sass-cache/
/docs/_site/
/docs/_po/*.po
/docs/Gemfile.lock

/.build/
/_build/
/Build
/Build.bat
/blib
/Makefile
/pm_to_blib

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

/_build_params

MYMETA.*

/Groonga-HTTP-*

